@media screen and (min-width: 641px) {
    h2 {
        font-size: 36px;
      }
    h3 {
        font-size: 18px;
    }
    .col-m-1 {
        flex: 8.33333%;
        max-width: 8.33333%;  
    }
    .col-m-2 {
        flex: 16.66667%;
        max-width: 16.66667%;
    }
    .col-m-3 {
        flex: 25%;
        max-width: 25%;
    }
    .col-m-4 {
        flex: 33.33333%;
        max-width: 33.33333%;
    }
    .col-m-5 {
        flex: 41,66667%;
        max-width: 41,66667%;
    }
    .col-m-6 {
        flex: 50%;
        max-width: 50%;
    }
    .col-m-7 {
        flex: 58.33333%;
        max-width: 58.33333%;
    }
    .col-m-8 {
       flex: 66.66667%;
       max-width: 66.66667%; 
    }
    .col-m-9 {
       flex: 75%;
       max-width: 75%;
    }
    .col-m-10 {
       flex: 83.33333%;
       max-width: 83.33333%;
    }
    .col-m-11 {
        flex: 91.66667%;
        max-width: 91.66667%;
    }
    .col-m-12 {
        flex: 100%;
        max-width: 100%;
    }

    ul.navmenu {
        display: flex;
    }
    .toggle-container {
        display: none;
    }
    .card-size {
        grid-template-columns: auto auto auto auto auto auto;
        gap: 5px;
        margin: 8px 14px;
    }
    h1 {
        font-size: 22px;
    }
    h1 span {
        font-size: 54px;
    }
    .main p:not(:last-child) {
        font-size: 18px;
        margin-bottom: 28px;
    }
    .main p:last-child {
        font-size: 24px;
        margin-top: 28px;
    }
    .main p span {
        font-size: 36px;
    }
    .main .tabs.row {
        flex-wrap: nowrap;
    }
    .main a {
        padding: 20px 4px;
    }
    .swiper-slide {
        width: 240px;
        height: 240px;
      }
    .swiper-slide-first, .swiper-slide-last {
    width: 120px!important;
    }
    table {
        padding: 30px;
      }
    table td, table th {
        width: 140px;
        font-size: 14px;
        height: 40px;
    }
    table th {
        padding-left: 20px;
        width: 150px;
    }
    .navbar {
        justify-content: center;
    }
    .logo img {
        max-width: 100px;
    }

    .popup-content {
        width: 640px;
        max-width: 640px;
        height: 350px;
    }
    .popup-img {
        max-height: auto;
        overflow: visible;
    }
    .popup-content .popup-img img {
        width: 320px;
        height: auto;
      }
      .popup-content .col-6:last-child {
        max-height: 350px;
    }
}

@media screen and (min-width: 961px) {
    .col-1 {
        flex: 8.33333%;
        max-width: 8.33333%;  
    }
    .col-2 {
        flex: 16.66667%;
        max-width: 16.66667%;
    }
    .col-3 {
        flex: 25%;
        max-width: 25%;
    }
    .col-4 {
        flex: 33.33333%;
        max-width: 33.33333%;
    }
    .col-5 {
        flex: 41,66667%;
        max-width: 41,66667%;
    }
    .col-6 {
        flex: 50%;
        max-width: 50%;
    }
    .col-7 {
        flex: 58.33333%;
        max-width: 58.33333%;
    }
    .col-8 {
       flex: 66.66667%;
       max-width: 66.66667%; 
    }
    .col-9 {
       flex: 75%;
       max-width: 75%;
    }
    .col-10 {
       flex: 83.33333%;
       max-width: 83.33333%;
    }
    .col-11 {
        flex: 91.66667%;
        max-width: 91.66667%;
    }
    .col-12 {
        flex: 100%;
        max-width: 100%;
    }

    .card-size {
        gap: 2px;
        margin: 12px 28px;
    }

    h1 {
        font-size: 34px;
    }
    h1 span {
        font-size: 82px;
    }
    .logo img {
        max-width: 250px;
    }
    .navbar {
        justify-content: space-between;
    }
    .main p:not(:last-child) {
        font-size: 28px;
    }
    .main p:last-child {
        font-size: 42px;
        margin-bottom: 48px;
    }
    .main p span {
        font-size: 50px;
    }
    .banner {
        padding-top: 65px;
        padding-bottom: 80px;
    }
    .banner:before {
        right: 370px;
    }
    .banner:after {
        left: 360px;
    }
    .main a {
        font-size: 16px;
        background: rgb(0 0 0 / 0%);
    }
    .main .col-3 {
        flex: 27%;
        max-width: 27%;
    }
    .swiper-slide {
        width: 320px;
        height: 320px;
      }
    .swiper-slide-first, .swiper-slide-last {
    width: 160px!important;
    }
    .order-img::after {
        position: absolute;
        width: 10px;
        height: 10px;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        content: '';
        background: #ceced3;
        border-radius: 50%;
        border: solid 3px #ebe7ea;
        bottom: -42px;
        top: auto;
    }
    .order p {
        margin-top: 44px;
        padding: 0;
    }
    .order .row {
        position: relative;
    }
    .order .row:after {
        position: absolute;
        content: '';
        border: dashed 1px #ceced3;
        width: calc(100% - 234px);
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        bottom: 97px;
    }
}
