@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

html {
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background: #fff;
    color: #1e1e1e;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
    text-align: center;
    font-weight: 700;
    margin: 0;
  }
  h2 {
    text-transform: uppercase;
    padding-bottom: 24px;
    margin-bottom: 24px;
    font-size: 36px;
    position: relative;
  }
  h3 {
      font-size: 18px;
  }
  a {
      text-decoration: none;
  }

h2:after {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
    content: '';
    background: #1e1e1e;
    width: 90px;
    height: 3px;
}

.container {
    max-width: 960px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}
.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

[class^= 'col-'], [class*=" col-"] {
    flex: 100%;
    padding: 10px;
    box-sizing: border-box;
}

[class^= 'col-'], [class*=" col-"] {
    flex: 100%;
    padding: 10px;
    box-sizing: border-box;
}

/* Header */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 68px;
}

ul.navmenu {
    display: none;
    padding-left: 0;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 400;
    box-sizing: border-box;
}

ul.navmenu a {
    color: #1e1e1e;
    margin-left: 35px;
}

/* Product Card */

.card {
    text-align: center;
    border: solid 1px #dbdbdf;
}

.card-img {
    position: relative;
}

.card-img span {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #fff;
    background: #b4014e;
    font-weight: 700;
    height: 60px;
    width: 60px;
    box-sizing: border-box;
    padding: 20px 8px;
    border-radius: 50%;
}

.card-img img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 6px 12px 12px;
    box-sizing: border-box;
}
.card-color {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card-color div {
    width: 30px;
    height: 30px;
    border: solid 2px #dbdbdf;
    border-radius: 50%;
    margin: 5px;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
}
.card-color div:hover {
    transform: scale(1.046);
}

.card-color .black {
    background: #000;
}

.card-color .red {
    background: #ff0000;
}

.card-price {
    display: flex;
}

.sizeselect {
    text-transform: uppercase;
    font-size: 18px;
}
.card-size {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px 10px;
}
.card-size div {
    box-sizing: border-box;
    border: solid 1px #fff;
    border-radius: 2px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.card-size div:hover {
    background: rgb(186 1 82 / 5%);
}

.card-size div:focus, .card-size div.active {
    border: solid 1px #ba0152;
    background: #fff;
}

.inactive {
    color: #ceced3;
}
.inactive:hover {
    cursor: not-allowed;
}